---
const { d, width = "50", height = "50", viewBox = "0 0 24 24", fill = "none", stroke = "black", strokeWidth = "1" } = Astro.props;
---

<button class="svg-viewer">
<svg xmlns="http://www.w3.org/2000/svg" viewBox={viewBox} width={width} height={height}>
  <path d={d} fill={fill} stroke="currentColor" stroke-width={strokeWidth} 
  stroke-linecap="round" stroke-linejoin="round"
  />
</svg>
</button>

  <style is:inline>
.svg-viewer {
      /* background-color: transparent; */
      border: none;
      width: 50px;
      height: 50px;
      cursor: pointer;
      position: relative;
      background-color: var(--sl-color-accent);
      color: white;
      border-radius: 4px;
      font-weight: 400;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center ;
      white-space: nowrap;        
      transition: opacity 0.2s, visibility 0.3s;
      
  }

  .svg-viewer:hover svg path {
      /* fill: var(--sl-color-primary-500); */
      stroke: var(--sl-color-accent-high);
  }
  </style>
